[Unit]
Description=A Service which starts a Spring Boot web server which is needed for our data science twitter project.
After=syslog.target mongodb.service

[Service]
ExecStart=/var/dstwitterrest/data-science-studious-tribble-1.0.0.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target